#Purchase {
  background-color: green;
  color: green;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s ease-in-out;
}

.modal-main {
  position: fixed;
  background-color: white;
  width: 100%;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.25s ease-in-out;
}

.display-block {
  opacity: 1;
  pointer-events: auto;
}

.display-none {
  opacity: 0;
  pointer-events: none;
}

.modal-main.slide-in {
  transform: translate(-50%, -150%);
}

.modal-main.slide-out {
  transform: translate(-50%, -50%);
}
